.nav:hover > .idle:not(.active) {
  background-color: #979797;
}

.idle {
  width: 4px;
  min-height: 31px;
  background-color: transparent;
}

.active {
  background-color: white;
}

.mobileNavBg {
  backdrop-filter: blur(41.5485px);
  -webkit-backdrop-filter: blur(41.5485px);
}
